@charset "utf-8";
:root{
	--mainColor: #00DC64;
	--white: #fff;
	--black: #333;
	--mainBg: #f9fafb;
	--smFont: clamp(12px, 1.5vw, 14px);
	--mdFont: clamp(14px, 1.5vw, 16px);
	--baseFont: clamp(16px, 1.5vw, 18px);
	--lgFont: clamp(18px, 1.5vw, 20px);
	--xlFont: clamp(20px, 1.5vw, 22px);

	--text-gray: #9ca3af;
	--border-gray :#f3f4f6;

	--radius-sm: 3px;
	--radius-base: 4px;
	--radius-md: 6px;
	--radius-lg: 8px;
	--radius-xl: 12px;
	--radius-2xl: 16px;

	--p-sm: 8px;
	--p-base: 16px;
	--p-lg: 24px;
	--p-xl: 32px;

	--gray-50: #f9fafb;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #d1d5db;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-600: #4b5563;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;

}
html, body {
	overflow: hidden;
	caret-color: transparent;/*커서 깜빡임 없애기*/
}
body {
	font-family: 'Pretendard', sans-serif;
	margin: 0 !important;
	padding: 0!important;
	background: var(--white);
	color: var(--black);
	font-size: var(--baseFont);
}
a {
	display: block;
	height: 100%;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
ul, ol {
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}
p{margin: 0;}
input[type="checkbox"],input[type="radio"]{
	display: none;
}
.fa-solid,label{
	cursor: pointer;
}
.button{
	-webkit-appearance: none; /* Safari 기본 버튼 스타일 제거 */
	width: fit-content;
	padding: 5px 10px;
	border-radius: var(--radius-base);
	background: var(--black);
	color: var(--white);
	line-height: 25px;
}
.bar{
	width: 1px;
	height: 10px;
	background: var(--gray-300);
}
.flex{
	display: flex;
	align-items: center;
}
.wrap {
	width: 100%;
	height: 100dvh;
	margin: 0 auto;
}
.pc{
	display: block;
}
.mob{
	display: none;
}

/*로티 이미지*/
.lottie_img_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80px;
	height: 80px;
	background: #2c2c2cd1;
	z-index: 10;
	border-radius: var(--radius-base);
}

header, main, footer{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.content{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*헤더*/
header{
	position: relative;
	height: 65px;
}
header .content {
	justify-content: space-between!important;
	width:unset!important;
	height: 65px;
	background: var(--white);
	font-size: var(--baseFont);
}
header .tit_wrap{
	white-space: nowrap;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 10px;
	font-weight: 700;
}
header .tit_wrap .sub_tit .ep_box{
	display: inline-block;
	width: fit-content;
	height: fit-content;
	padding: 2px 5px;
	border-radius: var(--radius-sm);
	background: var(--gray-200);
	color: #333;
	margin-right: 5px;
	font-size: var(--mdFont);
}
/*======episode_btn_wrap======*/
.episode_btn_wrap{
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 10px;
	color: var(--text-gray);
	font-size: var(--smFont);
}
.episode_btn_wrap > .prev,
.episode_btn_wrap > .next{
	padding: 4px;
	transition: 0.2s;
}
.episode_btn_wrap > .prev:hover,
.episode_btn_wrap > .next:hover{
	background: var(--gray-50);
	color: #333;
}
.episode_btn_wrap a{
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: var(--mdFont);
}
.episode_btn_wrap .next{
	color: var(--black);
}

/*======main======*/
main{
	position: relative;
}
main .content{
	height: calc(100dvh - 65px);
}

/*======swiper slide======*/
#slide{
	position: relative;
	width: 100%;
	height: 100%;
}
.swiper-wrapper{
	padding-top: 3px;
}
.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex!important;
	align-items: center;
	justify-content: center;
	position: relative;
}
.swiper-slide .img_wrap{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.swiper-slide img {
	height: 100%;
}

.swiper-slide .slide1{
/*animation: fadezoom 2s 0s forwards;*/
}
.swiper-slide .slide7{
	max-width: 96%;
}
@keyframes fadezoom{
	0% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

/*페이지네이션*/
.pagination_wrap{
	width: 100%;
	height: 7px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background: var(--white);
	background: var(--gray-50);
}
.swiper-pagination-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 14.2857%;
	height: 100%;
	background: var(--mainColor);
	transition: width 0.3s;
	z-index: 3;
	pointer-events: none;
}
.swiper-pagination-bullets.swiper-pagination-horizontal{
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0!important;
	left: 0!important;
	bottom: 0!important;
	z-index: 2;
}
.swiper-button-next:focus,
.swiper-button-prev:focus,
.swiper-pagination-bullet:focus {
	outline: none;
	box-shadow: none;
}
.swiper-button-next:active,
.swiper-button-prev:active,
.swiper-pagination-bullet:active {
	outline: none;
	box-shadow: none;
}
.swiper-pagination-bullet-active {
	opacity:0 !important;
}
.swiper-pagination-bullets > span{
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 14.2857%;
	height: 100%;
	background: transparent;
	border-radius: 0;
	transition: 0.1s;
}
.swiper-pagination-bullets > span:hover{
	background: var(--gray-400);
}
.swiper-pagination-bullets > span:last-child{
	border-right: none;
}

/*네비게이션*/
.navigation_wrap{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.swiper-button-next:after,
.swiper-button-prev:after {
	padding: 20px;
	color: var(--black);
	font-size: 35px !important;
}

/*======view_setting_wrap======*/
.view_setting_toggle{
	position: relative;
}
.view_setting_toggle.pc{
	width: 1000px;
	margin: 0 auto;
}
.view_setting_toggle > .view_setting_toggle_wrap{
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 10;
	display: flex;
	flex-flow: column;
	align-items: end;
	justify-content: center;
	gap: 5px;
}
.view_setting_toggle > .view_setting_toggle_wrap > div{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 1px solid var(--gray-100);
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	cursor: pointer;
}
.view_setting_toggle > .view_setting_toggle_wrap > div:hover{
	border: 1px solid var(--gray-200);
}

#view_setting {
	position: absolute;
	right: 20px;
	bottom: 20px;
	z-index: 10;
}
.view_setting_wrap{
	width: 380px;
	background: var(--white);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border : 1px solid var(--border-gray);
	padding: var(--p-xl);
	border-radius: var(--radius-xl);
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 30px;
}
.view_setting_wrap .tit{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
}
.view_setting_wrap .view_setting_close_btn{
	padding: 4px 8px;
	text-align: center;
	cursor: pointer;
}
.view_setting_wrap .view_setting_close_btn i.fa-xmark{
	font-size: var(--xlFont);
}
/*리스트*/
.view_setting_wrap .list_wrap > .list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 400;
	font-size: var(--mdFont);
	padding-bottom: 15px;
}
.view_setting_wrap .list_wrap > .list > div{
	display: flex;
	align-items: center;
	gap: 10px;
}
.view_setting_wrap .list_wrap label.border{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
	border-radius: var(--radius-md);
	border: 1px solid var(--border-gray);
	background: var(--white);
	color: var(--text-gray);
	font-weight: 400;
	transition: 0.5s;
}
.view_setting_wrap .list_wrap label.border:hover{
	border-color: var(--mainColor);
}
/* 체크된 라디오와 연결된 label 스타일 */
.view_setting_wrap input[type="radio"]:checked + label.border {
	border: 1px solid var(--mainColor);
	background: var(--mainColor);
	color: #fff;
	font-weight: 600;
}
/*상하단바 숨기기*/
.view_setting_wrap .switch-label {
	display: block;
	width: 44px;
	height: 24px;
	background: var(--gray-200);
	border-radius: var(--radius-xl);
	position: relative;
	cursor: pointer;
}

/* 원 */
.view_setting_wrap .switch-label .switch-label-circle {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	left: 2px;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
}

/* 체크 상태 */
.switch-label{
	transition: 0.3s;
}
.switch-input:hover + .switch-label {
	background: var(--gray-300);
}
.switch-input:checked + .switch-label {/*숨기기 on*/
	background: var(--mainColor);
}
.switch-input:checked + .switch-label .switch-label-circle {
	left: 22px;
}

/* ===== 책넘김 슬라이드 ===== */
#flip{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*푸터*/
footer{
	display: none;
	height: 65px;
}
footer .content {
	width: unset;
	justify-content: space-between;
	height: 65px;
	background: var(--white);
	font-size: var(--baseFont);
	padding: 0 20px;
}

/* ===== PC ===== */
@media screen and (min-width: 1180px) {

}

/* ===== 태블릿,모바일 공통 ===== */
@media screen and (max-width: 1179px) {
	.pc{
		display: none;
	}
	.mob{
		display: block;
	}
	header .content{
		padding: 0 20px;
	}
	header .view_setting_toggle.mob {
		position: absolute;
		right: 20px;
		top: 12px;
	}
	main .content{
		height: calc(100dvh - 130px);
	}

	/*좌우 클릭시 슬라이드 넘기기*/
	.navigation_wrap {
		top: 0;
		transform: none;
		height: 100%;
	}
	.swiper-button-next,
	.swiper-button-prev{
		width: 50% !important;
		height: 100% !important;
		bottom: 0!important;
		top: unset!important;
	}

	.swiper-button-prev{
		left: 0!important;
	}
	.swiper-button-next{
		right: 0!important;
	}
	.swiper-button-next:after,
	.swiper-button-prev:after{
		display: none;
	}

	/*다크모드일 때 색상반전*/
	.view_setting_toggle > .view_setting_toggle_wrap > div{
		background: var(--white);
		border : 1px solid var(--white);
	}
	.view_setting_toggle_wrap.dark img {
		filter: brightness(0) invert(1); /*밝기 0(검정), 색상반전(흰색)*/
	}

	.view_setting_toggle > .view_setting_toggle_wrap {
		position: unset;
	}
	.view_setting_toggle > .view_setting_toggle_wrap > .view_setting_btn{
		border: none;
	}
	.view_setting_toggle > .view_setting_toggle_wrap > .view_setting_btn:hover{
		border:none;
	}
	#view_setting {
		top: 20px ;
	}
	.view_setting_wrap {
		width: 300px;
	}

	footer{
		display: block !important;
	}

}
/* ===== 모바일 (최대 767px) ===== */
@media screen and (max-width: 767px) {
	h1, .tit, .bar{
		display: none;
	}
	header .tit_wrap{
		justify-content: start;
	}
	.view_setting_wrap{
		padding: var(--p-lg);
	}

	.view_setting_wrap .list_wrap > .list p{
		padding-bottom: 10px;
	}
	.view_setting_wrap .list_wrap label.border{
		white-space: nowrap;
	}
}
@media screen and (max-width: 460px) {
	#view_setting{
		width: 90%;
	}
	.view_setting_wrap .list_wrap > .list > div {
		flex-wrap: wrap;
	}
	.view_setting_wrap{
		padding: var(--p-base);
		width: unset;
	}
}
@media screen and (max-width: 360px) {
	#view_setting{
		right: 0;
		bottom: 0;
		left: 50%;
		/*top: 50%;*/
		transform: translateX(-50%);
	}
	.view_setting_wrap .list_wrap > .list{
		display: block;
	}
}

img{
	filter: brightness(2%);
}